@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(247, 241, 183);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(images/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;

}

/**/

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    /*background-color: rgba(143, 238, 180, 0.562);*/
    /*border-bottom: 1px solid floralwhite;*/
} 
BARRA DE ARRIBA
.logo{
    color: rgb(224, 74, 74);
    font-size: 25px;
    font-weight: 800;

}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 7px;
    padding: 20px;
    color: rgb(58, 71, 223);
    display: block;
}

.menu .navbar ul li a:hover{
    color: chocolate;
}

#menu{
    display: none;
}

.menu-icono{
    width:-1 0 100px 0;
}

.menu label{
    display: none;
    cursor: pointer;
}

.header-inf h1{
    color: rgb(20, 33, 220);
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 45px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.header-inf p{
    color: black;
    font-size: 20px;
    text-transform: none;
    margin-bottom: 35px;
}

.btn-1{
    display: inline-block;
    padding: .9px 620px;
    border-radius: 10px;
    background-color: #52e059;
    font-size: 50px;
    color: yellowgreen;
    text-transform: uppercase;
}

.btn-1 :hover{
    background-color: burlywood;
}

.gym{
    padding: 100px 0;
    display: flex;
    align-content: center;
    
    
}
.gym-1 {/*checar para modificar textos*/
    width: 100%;
    padding-right: 20px;
    text-align: center justify;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;/*checar como quedan los textos */ 
}

.gym-1 h2{
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 35px;
}
.gym-1 p{
    font-size: 16px;
    color: #232323;
    margin-bottom: 35px;
}

.gym-1 span{
    color: darkorange;
}

.btn-2{
    display: inline-block;
    padding: .9px 60px; 
    border-radius: 10px;
    background-color: coral;
    font-size: 18px;
    color: beige;
    text-transform: uppercase;
}

.btn-2:hover{
    background-color: rgb(216, 110, 71);

} IMAGENES DE MISION Y VISION
.img-1, .img-4{
   
    width: 250px;
    height: 400px;
    margin-right: -50px;
    
}

.footer{
    flex-direction: column;
    align-items: center;

}
.footer{
    border-top: 0px solid #c43434;
    padding: 6 px 0;
    display: flex;
    justify-content: center;
    background-color: #f5f39f;
}

.footer h3{
    color: crimson;
    font-size: 25px;
    font-weight: 800;
}

.links ul{
    display: flex;

}
.links ul li{
    margin-right: 35px;
}

.links ul li a{
    color: rgb(9, 9, 238);
}

@media(max-width:991px){
    .menu{
        padding: 20px;

    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: darkgoldenrod;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }   
    .header-content{
        padding: 30px;
    }
    .header-inf h1{
        font-size: 50px;
        margin-bottom: 5px;
    }
    .gym{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3px;
    }
    .gym-1{
        width: 100%;
        padding: 0;
        order: 1;
    }
    .gym-1 h2{
        margin-bottom: 15px;
    
    }
    .btn-2 {
        margin-bottom: 5px;
    }

    .gym-1{
        order: 1;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .img-5, .img-6{
        margin: 0 0 0px 0;
    
       
    }
    .footer{
        flex-direction: column;
        align-items: center center;
    }
   .footer h3 {
    margin-bottom: 15px;
   } 
   .links ul li {
    margin: 0 0px;
   }
}
}
